.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}
.title {
	font-size: 30px;
	padding-bottom: 30px;
}
.text {
	background-color: #fafafa;
	border-radius: 12px;
	padding: 24px 48px;
	margin-bottom: 20px;
}
